In [ ]:
# String Based Practice problems:

In [1]:
def reverse_string(input_string):
    #step 1 Define a function called reverse_string
    reversed_string = ""
    #step 2 Initalize an empty string called reversed_string
    for char in input_string:
        #step 3 Star a loop that iritates through each character 
        reversed_string = char + reversed_string
        #step 4 Concatenate the current character with the exesting reversed_string
        # This effectively add the current character to the begining of the reversed_string
        
    return reversed_string  
#step 5 After the loop is done, return the reversed_string as the output of the function
input_string = "Hello, Everyone"
reversed_string = reverse_string(input_string)
print(reversed_string)

enoyrevE ,olleH

In [62]:
def is_palindrome(s):
    #convert the string to lowercase to ensure case-insensitive comparison
    s = s.lower()

    #remove spaces and punctuation from the string
    s = ''.join(e for e in s if e.isalnum())

    # Compare the original string with its reverse
    return s == s[::-1]
print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man, a car, a canal, raju"))

True
False
False

In [7]:
# step 1 get input from the user
input_string = input("Enter a string:")

# step 2 Convert the string to uppercase
uppercase_string = input_string.upper()

# step 3 print the uppercase string
print("uppercase string:", uppercase_string)

Enter a string: Deepak

uppercase string: DEEPAK

In [16]:
#step 1 get input 
input_string = input("Enter a string: ")

#step 2 convert the string to lower case
lowercase_string = input_string.lower()

# step 3 Print the lowercase
print("Lowercase string:", lowercase_string)

Enter a string:  DEEPAK

Lowercase string: deepak

In [28]:
def count_vowels(string):
    # Initialize a variable to keep track of the vowel count
    vowel_count = 0
    
    # Convert the input string to lowecase to handle both upper and lower case vowels
    string = string.lower()
    
    # Define a set of vowels
    vowels = set("aeiou")
    
    for char in string:
        
        if char in vowels:
            vowel_count +=1
            
    # Return the final vowel count
    return vowel_count
# Test the function
input_string = "Hello, my name is deepak"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 8

In [1]:
def count_consonants(string):
    # Initalize a variable to keep track of the count of consonants
    consonant_count = 0
    
    # Define a set of consonant characters
    consonants = set("bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYS")
    
    # Iterate through each character in the input string
    for char in string:
        if char in consonants:
            consonant_count +=1
    # Return the final count of consonants
    return consonant_count

# Input string
input_string = input("Enter a string: ")
# Call the function and print the result
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  My name is deepak

Number of consonants: 8

In [9]:
def remove_whitespace(input_string):
    # Step 1 Initialize an empty string to store the result.
    result = ""
    
    # Step 2 Iterate through each character in the input string.
    for char in input_string:
        # Step 3 Check if the charater is a whitespace.
        if char !=" ":
            
            # Step 4 If the character is not a whitespaces
            result += char
    
    # Step 5 Return the result string with all white spaces removed.
    return result
    
# Example 
input_string = "Hello   Everyoune! How's   it   going?"
output_string = remove_whitespace(input_string)
print(output_string)

HelloEveryoune!How'sitgoing?

In [11]:
# step 1 initalize a variable to keep track of the count
count = 0

# step 2 iterate through each character in the string
for char in input_string:
    # step 3 increment the count variable by 1 for each character 
    count += 1
# step 5 Print the finacl count, which represents the lenght of the string
print("The length of the string is:", count)

The length of the string is: 38

In [12]:
# Step 1 Input the string and the specific word
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

# step 2 check if the specific word is present in the string using in 'in' keyword
if specific_word in input_string:
    # step 3 print message if word is present
    print(f"The string contains the word '{specific_word}'.")
else:
    # step 3 print message if word is not present
    print(f"The string does not contain the word '{specific_word}',")

Enter a string:  this is my class
Enter the specific word to check for:  deep

The string does not contain the word 'deep',

In [16]:
# Step 1 Accept the input string
input_strin = input("Enter a sentence:")

# Step 2 Accept the old word and the new word
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

# Step 3 Replace the old word with the new word using string.replace() method
modified_string = input_string.replace(old_word, new_word)
# Step 4 Print the modified string
print("Modified string:", modified_string)

Enter a sentence: this is my room
Enter the word to be replaced:  room
Enter the new word:  class

Modified string: this is my class

In [18]:
def count_word_occurrences(input_string, target_word):
    # step 1 initialize a variable to keep track of the word count
    word_count = 0
    # step 2 Split the input string into a list of words
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count +=1
    return word_count
# Input string
input_string = ("This is a sample sentence. This sentence contans the word 'sample' multiple times.")
target_word = "sample"
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

In [22]:
def find_first_occurrence(text, word):
    # step 1 find the index of the first occurence 
    index = text.find(word)
    if index == -1:
        return none
    return index
# Example 
text = ("This is an example sentence. This sentence contains the word example.")
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [24]:
def find_last_occurrence(text, word):
    #Step 1 find the index of the last occurence of the word in the text.
    index = text.rfind(word)
    if index == -1:
        return none
    return index
# Example
text = ("This is an example sentence. This sentence also contains the word example.")
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

In [26]:
def split_string_into_words(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words_list = text.split()
    # Step 2: Return the list of words.
    return words_list
# example
text = "My name is Deepak."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['My', 'name', 'is', 'Deepak.']

In [33]:
def join_words_into_string(words_list):
    joined_string = ' '.join(words_list)
    return joined_string
# example
word = ["my", "name", "is", "deepak."]
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: My name is Deepak.

In [34]:
def convert_to_underscore_seprated(text):
    #step 1 use the ()replace method spaces with underscores.
    underscore_seprated = text.replace(" ","_")
    # Step 2 Return the converted string.
    return underscore_seprated
# Example
text = "My name is Deepak."
converted_text = convert_to_underscore_seprated(text)
print("Converted text:", converted_text)

Converted text: My_name_is_Deepak.

In [36]:
def starts_with(text, prefix):
    # Step 1 use the starswith() method to check if the text stars with the specified prefix.
    is_start = text.startswith(prefix)
    # Step 2 Return the result
    return is_start
#example
text = "Hello, Everyone!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not starts with prefix.")

The text starts with the prefix.

In [37]:
def ends_with(text, suffix):
    #Step 1 use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)
    # Step 2 Return the result of the check.
    return is_end
#Example
text = "Hello, Everone!"
suffix = "Everone!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [39]:
def convert_to_title_case(text):
    title_case_text = text.title()
    return title_case_text
#Example
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

In [44]:
def find_longest_word(text):
    #Step 1 use the split() method to split text
    words = text.split()
    # Step 2 Iniitalize variables to keep trackthe logest word and its length.
    longest_word = ""
    max_length = 0
    # Step 3 iterate through the list of words.
    for word in words:
        # Check if the lenght of the current word is grater than the current max_lenght.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    # Step 4 Return the longest word   
    return longest_word
# Example
text = ("This is an example sentence with some long words.")
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

In [55]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf') # Initialize to a large value
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
#example
text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [56]:
def is_alphanumeric(text):
    # Step 1 use the isalnum () method to check if the string is alphenumeric.
    return text.isalnum()
#Example
text = "Hello989"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [63]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets
#example
input_string = "Mynameisdeepakmyageis1324"
result = extract_alphabets(input_string)
print(result)

M y n a m e i s d e e p a k m y a g e i s

In [65]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
#Example input_String
input_string = "HelloEveryone"
result = count_uppercase(input_string)
print(result)

2

In [71]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
# Example
input_string = "MyNameIsDeepak"
result = count_lowercase(input_string)
print(result)

10

In [74]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
# example
input_string = "helloWORLD"
result = swap_case(input_string)
print(result)

HELLOworld

In [75]:
def remove_word(input_string, word_to_remove):
    words = input_string.split() #split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string
# Example
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

In [78]:
import re #import the regular expression module
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
# Example
email1 = "psdeepak@gmail.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [3]:
def extract_username(email):
    username = email.split('@')[0] 
    return username
# Example
email = "psdeepak@email.com"
result = extract_username(email)
print(result)

psdeepak

In [2]:
def extract_domain(email):
    domain = email.split('@')[1] 
    return domain
# Example
email = "psdeepak@email.com"
result = extract_domain(email)
print(result)

email.com

In [4]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split()) 
    return cleaned_string
#example
input_string = "Hello    world!  How    are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

In [8]:
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
#Example
url1 = "https://www.meddeep.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

In [15]:
def extract_protocol(url):
    # find the index of the first occurrence of '://"
    protocol_end = url.find("://")
    
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
# examples url
url1 = "https://www.meddep.com"
url2 = "http://facebook.com"
url3 = "ftp://ftp.example.com"
# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
#print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [16]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] +=1
        else:
            frequency[char] = 1
    return frequency
# example string
input_str = "hello everyone"
# calculate character frequencies
char_freq = character_frequency(input_str)
#print character frequencies
for char, freq in char_freq.items():
    print(f"character: '{char}', Frequency: {freq}")

character: 'h', Frequency: 1
character: 'e', Frequency: 4
character: 'l', Frequency: 2
character: 'o', Frequency: 2
character: ' ', Frequency: 1
character: 'v', Frequency: 1
character: 'r', Frequency: 1
character: 'y', Frequency: 1
character: 'n', Frequency: 1

In [17]:
import string
def remove_punctuation(input_string):
    #create a translation table to remove punctuatuion
    translator = str.maketrans("", "", string.punctuation)
    # use the translation tablet to remove punctuation
    clean_string = input_string.translate(translator)
    
    return clean_string
# Example string with punctuation
input_str = "Hello, everyone! how's it going?"
#remove punctuation
cleaned_str = remove_punctuation(input_str)
# print
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, everyone! how's it going?
Cleaned string: Hello everyone hows it going

In [20]:
def contains_only_digits(input_string):
    #check if all character in the string are digits
    return input_string.isdigit()
# example
string1 = "2323425" 
string2 = "flsjkdj2312"
string3 = "324324.45"
# check if string contains only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)
# Print 
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'2323425' contains only digits: True
'flsjkdj2312' contains only digits: False
'324324.45' contains only digits: False

In [23]:
def contains_only_alphabets(input_string):
    #check if all characters in the string are alphabetic
    return input_string.isalpha()
#example strings
string1 = "deepak"
string2 = "deepak345"
#check if strings contains only alphabet
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
# print
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:",result2)

'deepak' contains only alphabets: True
'deepak345' contains only alphabets: False

In [25]:
def string_to_list(input_string):
    #use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list
#example
input_str = "Hello, Everyone!"
#convert the string to a list
char_list = string_to_list(input_str)
#print
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, Everyone!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'E', 'v', 'e', 'r', 'y', 'o', 'n', 'e', '!']

In [26]:
def are_anagrams(str1, str2):
    #Remove spaces and convert strings to lowercase for accurate comparision
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
# Example
string1 = "Deepak"
string2 = "Hello"
string3 = "Good"
string4 = "doing"

#check string are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
#print
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'Deepak' and 'Hello' are anagrams: False
'Good' and 'doing' are anagrams: False

In [36]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, everyone!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, hyhubrqh!

In [38]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "ehoor, hyhubrqh"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: bello, everyone

In [42]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example 
input_str = "Hello world, hello there! How's the world?"

#find the most frequent word
most_common = most_frequent_word(input_str)

#print
print("Most frequent word:", most_common)

Most frequent word: hello

In [44]:
import re
def unique_words(input_string):
    #Remove puncuation and convert to lowecase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())
    return words
#example
input_str = "Hello everyone, hello world!, How's the everone?"
#Find the unique words
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

Unique words: {'hello', 'world', 'everone', 'everyone', 'hows', 'the'}

In [48]:
import re
def count_syllables(word):
    #count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    
    return len(vowel_groups)
#example words
word1 = "hello"
word2 = "marry"
word3 = "syllable"
#count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
#print
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'marry' has 2 syllables.
'syllable' has 3 syllables.

In [51]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

#example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"
#check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
#Print 
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [53]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    #check if n is within a valid range
    if n >= 1 and n <= len(words):
        #remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

     
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

#example 
input_str = "This is an example sentence to test the function."
n_value = 4

#Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

#rint 
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [83]:
 # initializing N
N = 5
 
# using join() + list() + insert()
# Add substring at specific index
res = list(test_string)
res.insert(N, add_string)
res = ''.join(res)
     
# print result
print("The string after performing addition : " + str(res))

NameError: name 'test_string' is not defined

In [55]:
def csv_string_to_list(csv_string):
    #Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        #split each line into fields using comma as the delimiter
        fields = line.split(',')

        
        result.append(fields)

    return result

#example
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

#conver CSV string
list_of_lists = csv_string_to_list(csv_data)

#print
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [63]:
# LIST BASE PRACTICE PROBLEM

In [2]:
#Use a list comprehension to create a list of intigers from 1 to 10
integer_list = [i for i in range(1, 11)]
#print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count
# example list
my_list = [10, 20, 30 ,40 ,50]
#find the lenght of the list using custom_len
length = custom_len(my_list)
print("length of the list:", length)

length of the list: 5

In [13]:
s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = s.split("\n")

lst = []
for line in lines:
  field = line.split(",")
  lst.append(field)

for row in lst:
  print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [17]:
# example list
my_list = [10,20,30,40]
#element to append
new_element = 50
# Append the new element to the end of the list
my_list.append(new_element)

#print the update list
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40, 50]

In [20]:
#list 
my_list = [10,20,30,40,50]
# insert new element
new_element = 24
# index at which to insert the element
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 24, 30, 40, 50]

In [21]:
#list 
list = [10, 20, 30, 40, 50]
# element to remove
element_to_remove = 30
# REmove the elemetnt
my_list.remove(element_to_remove)
print("Updated list:", my_list)

Updated list: [10, 20, 24, 40, 50]

In [27]:
list = [10, 20, 30, 40, 50]
# index to element to remove
index_to_remove = 1
# remove the element
removed_element = list.pop(index_to_remove)
# Print
print("Updated list:", list)
print("Removed element:", removed_element)

Updated list: [10, 30, 40, 50]
Removed element: 20

In [37]:
# Example list
my_list = [10, 20, 30, 40, 50]
# Element to check
element_to_check = 20
# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

20 exists in the list.

In [38]:
# Example list
my_list = [10, 20, 30, 40, 50]
element_to_find = 50
# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)
#print the index
print(f"The index of {element_to_find} is {index}")

The index of 50 is 4

In [40]:

# Example list
my_list = [10, 20, 30, 40, 50, 30 ]
element_to_count = 30
#Count the occurrence of the element
count = my_list.count(element_to_count)
#print
print(f"The element {element_to_count} occur {count} times in the list.")

The element 30 occur 2 times in the list.

In [43]:

my_list = [10, 20, 30, 40, 50]
# reverse the order of element
my_list.reverse()

#print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [44]:
# Example list
my_list = [50, 40, 30, 20, 10]
my_list.sort()
print("sorted list in ascending order:", my_list)

sorted list in ascending order: [10, 20, 30, 40, 50]

In [45]:
# Example list
my_list = [10, 20, 30, 40, 50]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [46]:
#Uses a list comprehension to create a list of even numbers from 1 to 20
even_number = [x for x in range(2, 21, 2)]
#print 
print("List of even numbers:", even_number)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
#use a list of odd numbers 1 to 20
odd_numbers = [x for x in range(1, 21, 2)]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
# Example list
my_list = [10, 20, 30, 40, 50]
#calculate the sum of all elements in the list
total_sum = sum(my_list)
print("sum of elements:", total_sum)

sum of elements: 150

In [49]:
# Example list
my_list = [10, 20, 30, 40, 50]
# find maximum value
max_value = max(my_list)
#Print the maximum value
print("maximum value:", max_value)

maximum value: 50

In [50]:
# Example list
my_list = [10, 20, 30, 40, 50]
# find minimum value
min_value = min(my_list)
print("minimum value:", min_value)

minimum value: 10

In [51]:
# Use the comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]
#print the list of square
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
import random
# create a list of random intiger between 1 to 100
random_integers = [random.randint(1, 100) for _ in range(10)]
# print the random list
print("List of random integers:", random_integers)

List of random integers: [54, 48, 59, 99, 73, 8, 29, 88, 66, 10]

In [78]:
# initializing list
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
print("The original list is : "
	+ str(test_list))

# using list comprehension to remove duplicated from list
res = []
[res.append(x) for x in test_list if x not in res]

# printing list after removal
print ("The list after removing duplicates : "
	+ str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [76]:

li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []
for element in li1:
	if element not in li2:
		temp3.append(element)

print(temp3)

[10, 15, 20, 30]

In [60]:
# example list
list1 = [10,20,30]
list2 = [40,50,60]
#merge lists using the + operator
merged_list = list1 +list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [61]:
# Example
my_list = [10, 20, 30,40, 50]
#multiply all the elements by 2
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [80]:

# function 
def common_member(a, b): 
	a_set = set(a)
	b_set = set(b)

	# check length 
	if len(a_set.intersection(b_set)) > 0:
		return(a_set.intersection(b_set)) 
	else:
		return("no common elements")
	

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_member(a, b))

a =[1, 2, 3, 4, 5]
b =[6, 7, 8, 9]
print(common_member(a, b))

{5}
no common elements

In [62]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [1]:
# Example list
integer_list  = [10, 20, 30, 40,50]
#convert list of integers to list of strings
string_list = [str(x) for x in integer_list]
# print the list of strings
print("list of strings:", string_list)

list of strings: ['10', '20', '30', '40', '50']

In [5]:
# example
nested_list = [[1,2,3,], [4,5], [6,7,8,9]]
#funciton to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
#flatten nested list
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Function to generate the first n fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1] 
    
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
#generate the first 10 fibonacci number
fibonacci_numbers = generate_fibonacci(2)
# print the list of fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [9]:
# function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst [i - 1]:
            return False
    return True
# examplse
ascending_list = [1,2,3,4,5]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [13]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [15]:
# function to rotate a list to righ by n positions
def rotate_right(lst, n):
    n = n % len(lst)
    #print(N)
    rotated = lst[-n:] + lst[:-n]
    return rotated
# examplse list
my_list = [1,2,3,4,5,6]
n = 2
rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [19]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [21]:
# Create a list inot chunks of size n.
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    
    for num in range(2, int(limit ** 0.5) +1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False
    
    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)
    return primes
prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [26]:
# Examplse list
my_list = [10,5,20,15,30,25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [27]:
# Example
my_list = [2,4,6,8,10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [28]:
# example list
my_list = ['apple', 'banana', 'cherry', 'dates']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictonary:", my_dict)

Converted dictonary: {'apple': 0, 'banana': 1, 'cherry': 2, 'dates': 3}

In [30]:
import random 
my_list = [1,2,3,4,5,6,7,8,9]
random.shuffle(my_list)
print("shuffled list:", my_list)

shuffled list: [2, 5, 3, 7, 9, 6, 1, 8, 4]

In [31]:
# Function to calculate factoreial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n -1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbersL", factorial_numbers)

List of the first 10 factorial numbersL [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [39]:
# function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
        return False
list1 = [1,2,3,4,5,]
list2 = [4,5,6,7,8,]
# check if has common element
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists do not have any common elements.

In [40]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [41]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [42]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [44]:
# example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("converted string:", my_string)

converted string: Hello, this is a sample sentence.

In [45]:
# specific the value of n
n = 4
# create a list of the first n power of 2 using a loop
power_list = [2 ** i for i in range(n)]
print("list of the first", n, "powers of 2:", power_list)

list of the first 4 powers of 2: [1, 2, 4, 8]

In [46]:
# Example
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
# find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elderberry

In [48]:
# Example list
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
# find shortest string
shortest_string = string_list [0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [52]:
# function to calculate triangular number
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [53]:
#function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

#example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

#check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [55]:
# Example list
my_list = [1,2,3,4,5]
# indices of elements to swap
index1 = 1
index2 = 2
# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
# print
print("List after swapping elements:", my_list)

List after swapping elements: [1, 3, 2, 4, 5]

In [56]:
# Tuple Based prcatice problems :

In [57]:
# step 1 create a tuple
my_tuple = (1,2,3,4,5)

The third element of the tupe is: 30

In [58]:
# step 1 create a tuple
my_tuple = (10,20,30,40,50)
third_element = my_tuple[2]
print("The third element of the tupe is:", third_element)

The third element of the tupe is: 30

In [59]:
my_tuple = (10,20,30,40,50)
# step  initiate a variable to count the elements
count = 0
for _ in my_tuple:
    count += 1
print("The lenght of the tuple is:", count)

The lenght of the tuple is: 5

In [61]:
my_tuple = (10,20,30,20,40,50,20)
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [62]:
#example
my_tuple = (10,20,30,40,50)
element_to_find = 20
index = -1
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [63]:
# Create a tuple
my_tuple = (10,20,30,40,50)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [64]:
# Create a tuple
my_tuple = (10,20,30,40,50)
# Convert the tuple to a list
# Print
print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50)

In [65]:
# Create a tuple
my_tuple = (10,20,30,40,50)
my_list = tuple(my_list)
#print
print("List:", my_list)
print("Tuple:", my_list)

List: (1, 3, 2, 4, 5)
Tuple: (1, 3, 2, 4, 5)

In [67]:
# Create a tuple
my_tuple = (10,20,30)
# unpack the element of the tuple 
var1, var2, var3 = my_tuple
# Print
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [69]:
# create a list of even numbers using a list
even_numbers_list = [num for num in range(2, 11, 2)]
# convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)
# Prit
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [71]:
 # create a list of odd numbers using a list
odd_numbers_list = [num for num in range(2, 11, 2)]
# convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)
# Prit
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (2, 4, 6, 8, 10)

In [73]:
# create two tuple
tuple1 = (1,2,3)
tuple2 = (4,5,6)
#concatenate the two tuples
concatenated_tuple = tuple1 + tuple2
#print
print("Concatenate tuple:", concatenated_tuple)

Concatenate tuple: (1, 2, 3, 4, 5, 6)

In [74]:
# Create a Tuple
original_tuple = (1,2,3)
repeated_tuple = original_tuple * 3
#print
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [75]:
# Create an empty tuple and a non_empty tuple
empty_tuple =()
non_empty_tuple = (1,2,3)
# Check if tuple are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")
if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [76]:
# create a nested tuple
nested_tuple = ((1,2,3),('a','b','c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [77]:
# create a nested tuple
nested_tuple = ((1,2,3),('a','b','c'), (True, False))
# access the first element of the nested tuple
first_element = nested_tuple[0]
#print
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [78]:
# create a tuple with a single element
single_element_tuple = (42,)
print("single element tuple:", single_element_tuple)

single element tuple: (42,)

In [79]:
#create two tuples
tuple1 = (1,2,3)
tuple2 = (1,2,4)
# Compare the two tuple using comparision operators
print("tuple1 == tuple2:", tuple1 == tuple2)   # equality check
print("tuple1 != tuple2:", tuple1 != tuple2)   # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)     # less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)    # less than equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)       # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)     # Greater than equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [82]:
# create a tuple
my_tuple = (1,2,3,4,5)
# Delete the tuple
del my_tuple
#print
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [83]:
# Create a tuple
my_tuple = (1,2,3,4,5,6,7,8,9,10)
# slice the tuple to get a poriton of it
sliced_tuple = my_tuple[2:6]
print("sliced tuple:", sliced_tuple)

sliced tuple: (3, 4, 5, 6)

In [84]:
 #Create a tuple
my_tuple = (1,2,3,4,5,6,7,8,9,10)
 # Find maximum value
max_value = max(my_tuple)
#print
print("maximum value:", max_value)

maximum value: 10

In [85]:
#Create a tuple
my_tuple = (1,2,3,4,5,6,7,8,9,10)
# find minimum value
min_value = min(my_tuple)
#print
print("minimum value:", min_value)

minimum value: 1

In [87]:
# Create a string
my_string = "Hello, everyone!"
# convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)
#print
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', '!')

In [89]:
# create tuple of characters
tuple_of_characters: ('H','e', 'l', 'l', 'o', ',', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', '!')
# convert into a string
string_from_tuple = ' '.join(tuple_of_characters)
#print
print("String from tuple:", string_from_tuple)

String from tuple: H e l l o ,   e v e r y o n e !

In [90]:
# Creating a tuple with element of different data types
mixed_tuple = (1, "deepak", 23.324, True)
#printing
print(mixed_tuple)

(1, 'deepak', 23.324, True)

In [1]:
# create two tuples
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
# compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
# print
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [3]:
#create a tuple
my_tuple = (3,4,54,6)
sorted_tuple = tuple(sorted(my_tuple))
#print
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (3, 4, 6, 54)

In [4]:
# create a tuple of integers
tuple_of_integers = (1,2,3,4,5,)
# tuple of string
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
# print tuple of string
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [5]:
# create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40')
#convert the tuple of strings
tuple_of_strings = tuple(int(item) for item in tuple_of_strings)
#print
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (1, 2, 3, 4, 5)

In [6]:
# create two tuples
tuple1 = (1,2,3)
tuple2 = (4,5,6)
#merge the tuples
merged_tuple = tuple1 + tuple2
#print
print("merged tuple:", merged_tuple)

merged tuple: (1, 2, 3, 4, 5, 6)

In [7]:
# Recursive function to flatten a nested tuple 
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
# create a nested tuple
nested_tuple = ((1,2,3), (4,5), (6, (7,8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
#printing
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [10]:
# Check tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]
#tuple for testing
palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5)
#check 
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(palindrome_tuple)
#print
print("palindrome_tuple is a palindrome", is_palindrome1)
print("non_palindrome_tuple is a palindrome", is_palindrome2)

palindrome_tuple is a palindrome True
non_palindrome_tuple is a palindrome True

In [12]:
 # tuple for squares using a list
squares_tuple = tuple(x ** 2 for x in range(1,6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [14]:
# tuple
original_tuple = (1,2,3,4,5,6,7,8,9,10)
#filter
filtered_tuple = tuple(num for num in original_tuple if num % 2!= 0)
#print
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [16]:
# create a tuple
original_tuple = (1,2,3,4,5)
doubled_tuple = tuple(num ** 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (1, 4, 9, 16, 25)

In [17]:
import random 
# tuple for random numbers
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Random tuple:", random_tuple)

Random tuple: (38, 24, 12, 78, 43, 25, 2, 22, 4, 76)

In [22]:
# check tuple is sored
def is_sorted(tup):
    for i in range(len(tup) -1):
        if tup[i] > tup[i + 1]:
            return False
        return True
# tuples for testing
sorted_tuple = (1,2,3,4,5)
unsorted_tuple = (5,3,1,4,2)
#check 
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
#print
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [25]:
# Rotate tupel to the left by n
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple
my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [26]:
# Rotate tuple to right
def rotate_tuple_right(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple
my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [28]:
# create tuple for 5 fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) <n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [30]:
# Tuple for user input
input_str = input("Enter elements seprated by commas:")
input_list = input_str.split(' , ')
user_tuple = tuple(input_list)
print("user input tuple:", user_tuple)

Enter elements seprated by commas: d,e,e,,p,a,k,

user input tuple: ('d,e,e,,p,a,k,',)

In [31]:
# Swap element into a tuple
my_tuple = (1,2,3,4,5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [32]:
# Reverse element of tuple
my_tuple = (1,2,3,4,5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [33]:
# tuple of first n power 2
n = 5
# create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))
# print
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [34]:
# Longest string in a tuple
string_tuple = ("deepak", "Kumar", "Rajender" , "panwar")
#longest string
longest_string = max(string_tuple, key=len)
print("longest string:", longest_string)

longest string: Rajender

In [35]:
# shortest string in tuple
string_tuple = ("deepak", "Kumar", "Rajender" , "panwar")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: Kumar

In [38]:
# Tuple for first n triangular numbers
n = 5
# Tuple of first n triangular numbers using a list
triangular_numbers_tuple = tuple((i * (i+1)) // 2 for i in range(1, n +1))
#print
print("Tuple of the first",n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [41]:
# tuple contains another tuple
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
main_tuple = (1,2,3,4,5,6,7,8,9)
#subsequence tuple
sub_tuple = (3,4,5)
# If the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
#print
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [42]:
# Tuple for alternating 1s and 0s of lenth n
n = 10
# create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))
#print
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [43]:
# SET BASED PROBLEMS:

In [2]:
# set with integers 1 to 5
my_set = set()
# add integers from 1 to 5
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
#print
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
# add element to set
my_set = {1,2,3,4,5}
print("original set:", my_set)
# add an element to the set
element_to_add = 6,7
my_set.add(element_to_add)
print("set after adding element:", my_set)

original set: {1, 2, 3, 4, 5}
set after adding element: {1, 2, 3, 4, 5, (6, 7)}

In [6]:
# Remove element 
my_set = {1,2,3,4,5,6}

print("original set:", my_set)
element_to_remove = 3
my_set.remove(element_to_remove)
print("set after removing", element_to_remove, ":", my_set)

original set: {1, 2, 3, 4, 5, 6}
set after removing 3 : {1, 2, 4, 5, 6}

In [8]:
# element exist in set
my_set = {1,2,3,4,5,}
element_to_check = int(input("enter the element to check:"))
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

enter the element to check: 30

30 does not exist in the set.

In [9]:
# lenght of set without usinf the len() function
my_set = {1,2,3,4,5}
#count'
count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [10]:
# Clear all element from set
my_set = {1,2,3,4,5,6}
print("original set:", my_set)
my_set.clear()
print("set after clearing:", my_set)

original set: {1, 2, 3, 4, 5, 6}
set after clearing: set()

In [11]:
#set of even number 1 tp 10
even_number_set = set()
# from 1 to 10
for num in range (1,11):
    if num % 2 == 0:
        even_number_set.add(num)
#print
print(even_number_set)

{2, 4, 6, 8, 10}

In [13]:
# odd number set
odd_numbers_set = set()
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
#print
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [14]:
# union of two sets
set1 = {1,2,3,4,5}
set2 = {6,7,4,7,8}
# union of the two sets using the 'union()' 
union_result = set1.union(set2)
print("set 1:", set1)
print("set 2:", set2)
print("Union of set 1 and set 2:", union_result)

set 1: {1, 2, 3, 4, 5}
set 2: {8, 4, 6, 7}
Union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
# intersection 
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [17]:
# Diffrence between 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
# diffrence
difference_set = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [18]:
# Set is a subset of another set
set1 = {1,2,3}
set2 = {1,2,3,4,5}
# issubset
is_subset = set1.issubset(set2)
print("is set1 a subset of set1:", is_subset)

is set1 a subset of set1: True

In [19]:
# set is a superset of another set
set1= {1,2,3,4,5,6}
set2= {3,4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [20]:
#set from a list
my_list = [2,4,1,4,3,2,5]
# use the set constructor
my_set = set(my_list)

print("original list:", my_list)
print("set from list:", my_set)

original list: [2, 4, 1, 4, 3, 2, 5]
set from list: {1, 2, 3, 4, 5}

In [21]:
# Set to a list
my_set = {1,2,4,3,5,6,8,6}
my_list = list(my_set)
print("Original set:", my_set)
print("converted list:", my_list)

Original set: {1, 2, 3, 4, 5, 6, 8}
converted list: [1, 2, 3, 4, 5, 6, 8]

In [26]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

In [27]:
# pop element from set
my_set = {1,2,3,4,5}
print("Original set:", my_set)
#pop element
popped_element = my_set.pop()
print("popped element:", popped_element)
print("set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
popped element: 1
set after popping: {2, 3, 4, 5}

In [34]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [35]:
# Symetric diffrence between two sets.
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
#symmetric difference
symmetric_difference = set1 ^ set2
#print
print("symmetric difference:", symmetric_difference)

symmetric difference: {1, 2, 3, 6, 7, 8}

In [36]:
# set with elements from another set
set1 = {1,2,3}
print("Set 1:", set1)
set2 = {3,4,5}
print("set 2:", set2)
#update set1 
set1.update(set2)
print("updated set 1:", set1)

Set 1: {1, 2, 3}
set 2: {3, 4, 5}
updated set 1: {1, 2, 3, 4, 5}

In [37]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [39]:
# check sets are identical
set1 = {1,2,3,4,5}
set2 = {3,1,5,2,4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [40]:
# Frozen set
elements = [1,2,3,4,5]
#frozenset
my_frozen_set = frozenset(elements)
print("Frozen set:", my_frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [43]:
# sets are disjoint with another set
set1 = {1,2,3,4}
set2 = {5,6,7,8}
# Disjoint status
disjoint_status = set1.isdisjoint(set2)
print("are the sets disjoint?", disjoint_status)

are the sets disjoint? True

In [45]:
# square of numbers from 1 to 5
squares_set = set()
#number from 1 to 5
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [47]:
# Even numbers from a set
original_set = {1,2,3,4,5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original set:", original_set)
print("Even Numbers set:", even_numbers_set)

Original set: {1, 2, 3, 4, 5}
Even Numbers set: {2, 4}

In [48]:
#Multiply elemnt by 2
original_set = {1,2,3,4,5}
# multiplid element
multiplied_set = set()
# Element in the original set
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [49]:
# Set of random numbers
import random 
# random number set
num_random_numbers = 5
#store the random numbers
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1,100)
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {32, 72, 82, 84, 60}

In [50]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [51]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [52]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [53]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [54]:
# Set from a string
input_string = "Hello"
# uset the set()
char_set = set(input_string)
print(char_set)

{'e', 'o', 'l', 'H'}

In [56]:
# Set of strings to set of integers
string_set = {"123", "456", "789"}
# empty set
integer_set =  set()
for string in string_set:
    integer_value = int(string)
    # add integer to the integer set
    integer_set.add(integer_value)
print("Original string set:", string_set)
print("Converted integer set:",integer_set)

Original string set: {'789', '456', '123'}
Converted integer set: {456, 123, 789}

In [57]:
#Create a set of integers
integers_set = {1, 2, 3, 4, 5}

#Initialize an empty set to store the strings
strings_set = set()

# Iterate through each integer in the integers_set
for num in integers_set:
    # SConvert the integer to a string using the str() function
    num_str = str(num)

    # Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'5', '3', '1', '4', '2'}

In [58]:
#Set from a tuple
input_tuple = (1,2,3,3,4,2,5)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [63]:
# Set to tuple
input_set = {1,2,3,4,5}
output_tuple = tuple(input_set)
print("original set:", input_set)
print("converted tuple:", output_tuple)

original set: {1, 2, 3, 4, 5}
converted tuple: (1, 2, 3, 4, 5)

In [64]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [65]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [66]:
# set from user input
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  deepak, kumar,done
>  deepak
>  done

Final set: {'deepak, kumar,done', 'deepak'}

In [68]:
# Interesction of two sets is empty
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
# intersection of two sets
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [69]:
# fibonacci numbers
fibonacci_set = set()
a, b =0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 fibonacci numbers:", fibonacci_set)

Set of the first 5 fibonacci numbers: {0, 1, 2, 3, 5}

In [71]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [72]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [73]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [75]:
# common elements between a set and a list
my_set = {3,7,9,12,15}
my_list = {7,12,5,9}
# Convert the list to a set for efficinet comparison
list_to_set = set(my_list)
#empty list to store common elements
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [76]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  20

The set of the first 20 triangular numbers is: {1, 3, 6, 136, 10, 15, 21, 153, 28, 36, 171, 45, 55, 190, 66, 78, 210, 91, 105, 120}

In [77]:
# Check if a set contains another set as a subset.
set1 = {1,2,3,4,5}
set2 = {3,4}
# check if set2 is a subset of set1 
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [78]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [87]:
#Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)


# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}